@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;

}
img{
    max-inline-size: 100%;
    block-size: auto;/*means aspect ratio of images, will remain the same in any screen size*/
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    
}
:root{
    --medicalgreen:rgb(155, 229, 170);
    --medicalblue:rgb(32, 160, 216);
    --deepmedicalblue:rgb(10, 52, 70);
    --white:hsl(0, 0%, 100%);
    --beige:hsl(60,56%,91%);
    /*Other Color Variants*/
    --red:hsl(10, 86%, 49%);
    --black:hsl(0, 0%, 12%);
    --grey:hsl(0, 0%, 94%);
    --darkgrey:hsl(0, 0%, 24%);
    --blue:rgb(29, 14, 126);
    --coldblue:rgb(11, 1, 49);
    --top-row-right:60px;
}

body{
    position: relative;
    overflow: hidden;
}
.zooming-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: zoomEffect 10s infinite;
}
@keyframes zoomEffect {
    0% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.2);
    }
}
#readmore{
    text-align: left;
    color:var(--white);
    margin-top: 150px;
    padding:50px 100px;   
}
#readmore h1{
    color: var(--white);
    font-size:2rem;
    font-weight: bolder;
}
#readmore p{
    line-height: 25px;
    margin-top: 10px;

}
button{
    margin-top: 15px;
    width:200px;
    height:40px;
    background-color: var(--red);
    border: none;
    border-radius: 25px;
}
.readmore-btn{
    text-decoration: none;
    color: var(--white);
    font-size: 1.1rem;
}
footer{
    color: var(--white);
    text-align: center;
    align-items: center;
    margin-top: 200px;
}
.attribute p a{
    text-decoration: none;
    color: var(--white);
}


/*ABOUT PAGE*/
.about-body{
    overflow: visible;
}
.soji img{
    height:400px;
    position: relative;
    left:20%;
    margin-top: 50px;
}
.about-text{
    position:absolute ;
    z-index: 1;
    top: 40%;
    left: 46%;
    max-width: calc(100% - 20px);
    background-color: var(--red);
    padding: 50px;
    width:600px;
}
.what-we-do{
    margin-top:100px;
    text-align: center;
    padding:50px;
    font-weight: bold;
    font-style: italic;
}
.about-footer{
    margin-top: 0;
}
.about-attribute,.about-attribute p a{
    color:var(--black);
}

/*SERVICE PAGE*/
#services{
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top: 50px;
}
.service{
    margin-top: 50px;
}
.service h2{
    text-align: center;
    font-size: 1.8rem;
}
.service-images img{
    height:300px;
    width:400px;
}
.service-images p{
    background-color: var(--red);
    padding:20px;
    margin-top: -5px;
    color: var(--white);
    font-size: 1.2rem;
}
.service-footer{
    margin-top: 80px;
}

/*MEDIA FOR ALL PAGES*/
@media(max-width:760px){
    #readmore{
        padding: 0;
        text-align: center;
    }
    .soji img{
        left:0;
    }
    .about-text{
        left: 0;
        top:55%;
        margin-left: 10px;
    }
    .what-we-do{
        display: none;
    }
    #services{
        display: inline-block;
    }
    .service-images{
        margin-top: 50px;
    }
}