@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;

}
img{
    max-inline-size: 100%;
    block-size: auto;/*means aspect ratio of images, will remain the same in any screen size*/
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
:root{
    --medicalgreen:rgb(155, 229, 170);
    --medicalblue:rgb(32, 160, 216);
    --deepmedicalblue:rgb(10, 52, 70);
    --white:hsl(0, 0%, 100%);
    --beige:hsl(60,56%,91%);
    /*Other Color Variants*/
    --red:hsl(10, 86%, 49%);
    --black:hsl(0, 0%, 12%);
    --grey:hsl(0, 0%, 94%);
    --darkgrey:hsl(0, 0%, 24%);
    --blue:rgb(29, 14, 126);
    --coldblue:rgb(11, 1, 49);
    --top-row-right:60px;
}

body{
    background-image: url(/images/lens.webp);
    
}
